/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 4:52:41 PM
    Author     : jsanossian
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 11:29:49 PM
    Author     : jsanossian
*/
@import url(https://fonts.googleapis.com/css?family=Calligraffitti);
@import url(https://fonts.googleapis.com/css?family=Engagement);
@import url(https://fonts.googleapis.com/css?family=Butterfly+Kids);
html{
    background-color: lightblue;
}
a{

    color : white;
    background-color: blue
}
a:visited{
    color:#000066
     
   
}
h1{
    color : navy;

}
#prevbutton{

    background-color: transparent;
    color: navy;

}
#playpause{

    background-color: transparent;
    color: navy;

}
#nextbutton{
    background-color: transparent;
    color: navy;
    
}
#navbar{

   
   color : white;
   
   background-color: blue;
   
}
#banner{

    text-shadow: 1px 4px navy;
    color: whitesmoke;
    font-weight: bold;

   
   
}

#content{
    border-color: blue;

    color : darkblue
}
p{
    
}
#footer{
    color : darkblue;

}
