/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 11:29:49 PM
    Author     : jsanossian
*/
@import url(https://fonts.googleapis.com/css?family=Calligraffitti);
@import url(https://fonts.googleapis.com/css?family=Engagement);
@import url(https://fonts.googleapis.com/css?family=Butterfly+Kids);
html{

}

ul{
    list-style-type: circle;
}
a{
   font-family: Calligraffitti;
   font-size: 20px;
   font-weight: bold;
    width: 100%;

}
a:visited{

     
   
}
h1{

    text-decoration: underline;
}
#prevbutton{
    border-width: 0px;

    font-size: 24px;
    font-weight: bolder;
}
#playpause{
    border-width: 0px;

    font-size: 24px;
    font-weight: bolder;
}
#nextbutton{
    border-width: 0px;
 
    font-size: 24px;
    font-weight: bolder;    
}
#navbar{
    margin-top: 1%;
   text-align: center;
   font-size: 20px;
   width : 100%;

   margin-bottom: 15px;

}
#banner{

    font-size: 40px;
    width: 100% ;
    height: 150px;
    text-align: center;
    background-image: url("../img/banner.jpg");
    vertical-align: middle;
    line-height: 150px;
    font-weight: bold;
    font-family: Calligraffitti;
   
   
}
#bannerimg{

    width: 200px;
    height : 100px;
    text-align: center;   
    
}
#content{

    border-width: 5px;
    border-style: groove;
    width: 100%;
    font-family: Engagement;
    font-size: 26px;
    text-align: center;

}
p{
    
}
#footer{

    text-align: center;
    font-family: 'Butterfly Kids', cursive;
    font-weight: bolder;
    font-size: 19px;
}
